.book-item-card {
    width: 60%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
  }
  
  .book-item-media {
    width: 32px;
    height: 32px;
  }
  
  .book-item-content { /* Corrected the typo here */
    flex: 1;
    padding: 8px;
    display: flex;
    align-items: center;
  }
  
  .book-item-title {
    margin-top: 0; /* Remove the margin */
    font-size: 15px;
    color: rgb(25, 101, 177);
  }
  
  .book-item-button {
    min-width: auto;
    padding: 6px 12px;
    font-size: 8px;
    width: 100px;
    margin-left: 20px;
    margin-right: 1px;
  }
  