/* BookSearchBar.css */
.search-bar-container {
  position: relative;
}
.search-bar-container .textField {
  width: calc(100% - 1px); 
}
.search-bar-container .MuiIconButton-root {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  font-size:large ;
  /*color: #FFE6DC;*/
  color: #F76434;
}
.root {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.textField {
  margin-right: 10px;
}

.button {
  background-color: turquoise;
  color: white;
}
@media only screen and (max-width: 768px) {
  .textField {
    width: 60%;
  }
}
