/* BookSearchBar.css */
.root {
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.textField {
  width: 40%;
  margin-right: 10px;
}
.clear-button {
  position: absolute;
  top: 30px;
  right: 30px;
  transform: translateY(-50%);
}

.button {
  background-color: turquoise;
  color: white;
}
@media only screen and (max-width: 768px) {
  .textField {
    width: 60%;
  }
}
