.book-card {
  width: 60%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.media {
  width: 32px;
  height: 32px;
}

.content {
  flex: 1;
  padding: 8px;
  display: flex;
  align-items: center;
}

.title {
  margin-top: 0; /* Remove the margin */
  font-size: 12px; /* Increase font size for better visibility */
}

.author {
  margin: 0; /* Remove margin */
  font-size: 10px; /* Adjust font size */
}

.button {
  min-width: auto;
  padding: 6px 12px;
  font-size: 10px; /* Adjust font size */
}
