.book-item-card {
  width: 70%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.book-item-media {
  width: 32px;
  height: 32px;
}

.book-item-content {
  padding: 8px;
  display: flex;
  align-items: center;
}

.book-item-title {
  font-size: 8px;
  color: #335c6e;
  font-family: "Mulish", sans-serif;
}
@media (max-width: 353px) {
  .book-item-title {
    margin-top: 30px;
    margin-bottom: 2px;
  }
}

.book-item-button {
  min-width: auto;
  padding: 6px 12px;
  font-size: 6px;
  font-family: "Mulish", sans-serif;
  width: 100px;
  margin-top: 18px;
  margin-bottom: 15px;
  margin-left: 26px;
  margin-right: 1px;
  background-color: #335c6e;
}
